<header>
    <h1>{{PageTitle}}</h1>
    <p>Gull inc - Salg er kun forpliktene hvis du ser bra ut</p>


    <a href = "/">Home</a>
    <a href = "/about">About</a>
    <a href = "/weather">vær</a>
</header>


