<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>Oppsøk meg i virkeligheten om du trenger noe hjelp, jeg er egentlig veldig hyggelig</p>
        </div>
        
        {{>footer}}
    </body>

</html>
